<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-3">
 <div class="container">
    <a href="#" class="navbar-brand"><img src="https://media.glassdoor.com/sqll/233317/daugherty-business-solutions-squarelogo-1437430956817.png" height="65" width="65" alt="logo1"><strong class="h3">DAUGHERTY</strong> <small>BUSINESS SOLUTIONS</small></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#Bar"><span class="navbar-toggler-icon"></span></button>
    <div id="Bar" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/skills" routerLinkActive="active" ><i class="fa fa-search" aria-hidden="true"></i> Skills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/consultants" routerLinkActive="active" ><i class="fa fa-search" aria-hidden="true"></i> Consultants</a>
            </li>
        <li class="nav-item">
        <a routerLink="/add-consultant" routerLinkActive="active" class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i> Consultant</a>
        </li>
        <li class="nav-item">
        <a routerLink="/import-consultants" routerLinkActive="active" class="nav-link"><i class="fa fa-upload" aria-hidden="true"></i> Consultants</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

