<div class="align">
    <div class="row">
        <div class="col-sm-12 pr-0">
          <app-headers></app-headers>
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>
  <!-- <ngbd-modal-options></ngbd-modal-options> -->
  <!-- <footer id="main-footer" class="bg-success text-white mt-5 pt-3">
      <div class="conatiner">
        <div class="row">
          <div class="col">
            <p class="lead text-center">Copyright &copy; 2018 CMS</p>
          </div>
        </div>
      </div>
    </footer> -->



